$timing: 1.2s !default;

.loading {
	display: none;
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	z-index: 970;
}

.loading div {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgba(black,0.3);
	animation: loading-animation $timing linear infinite;
}
.loading div:nth-child(1) {
	top: 8px;
	left: 8px;
	animation-delay: 0s;
}
.loading div:nth-child(2) {
	top: 8px;
	left: 32px;
	animation-delay: -$timing / 3;
}
.loading div:nth-child(3) {
	top: 8px;
	left: 56px;
	animation-delay: -$timing / 1.5;
}
.loading div:nth-child(4) {
	top: 32px;
	left: 8px;
	animation-delay: -$timing / 3;
}
.loading div:nth-child(5) {
	top: 32px;
	left: 32px;
	animation-delay: -$timing / 1.5;
}
.loading div:nth-child(6) {
	top: 32px;
	left: 56px;
	animation-delay: -$timing;
}
.loading div:nth-child(7) {
	top: 56px;
	left: 8px;
	animation-delay: -$timing / 1.5;
}
.loading div:nth-child(8) {
	top: 56px;
	left: 32px;
	animation-delay: -$timing;
}
.loading div:nth-child(9) {
	top: 56px;
	left: 56px;
	animation-delay: -$timing / 0.75;
}
@keyframes loading-animation {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}