// variables

// sizing
$breakpoint: 70em;

// colors
$light-beige:   #EBE4C7;
$beige:         #BFBAA3;
$dark-beige:    #A6A18D;
$darkest-beige: #45433B;

$purple:        #633E60;
$dark-purple:   #422f54;

$light-blue:    #5CB3B8;
$blue:          #4D9599;

$light-green:   #C1D96C;
$green:         #838C3A;

$red:           #8C0303;
$dark-red:      #730202;

// font styles
$font-family: 'Montserrat', Helvetica, sans-serif;
$text-size: 1.5em;
$text-size-smaller: 1.4em;
$line-height: 1.5;

$header-font-family: 'Signika', Helvetica, sans-serif;
$header-size: 3em;
$intro-header-size: 4em;
$header-line-height: 1.25;

$font-weight-light:     200;
$font-weight-regular:   300;
$font-weight-semi-bold: 500;
$font-weight-bold:      600;

// shadows and rgba colors
$text-shadow:  0 2px 8px  rgba(0,0,0,0.3);
$large-shadow: 0 6px 18px rgba(0,0,0,0.2);

$alpha-light-1: rgba(255,255,255,0.75);
$alpha-light-2: rgba(255,255,255,0.05);
$alpha-dark-1:	 rgba(0,0,0,0.1);
$alpha-dark-2:	 rgba(0,0,0,0.2);
$alpha-dark-3:	 rgba(0,0,0,0.3);
$alpha-dark-4:	 rgba(0,0,0,0.4);
$alpha-dark-5:	 rgba(0,0,0,0.5);

// material icons
$icon-default:       "\e835"; //check_box_outline_blank
$icon-email:         "\e0be"; //email
$icon-phone:         "\e325"; //phone_iphone
$icon-experience:    "\f100"; //home_repair_service
$icon-skills:        "\f1c3"; //wysiwyg
$icon-open-file:     "\e89e"; //open_in_new
$icon-file-download: "\e2c4"; //file_download
$icon-tool:          "\e3ae"; //brush
$icon-list:          "\ef76"; //beenhere
$icon-close:         "\e5cd"; //close
$icon-repository:    "\e0ee"; //list_alt


// modules
@use 'html5boilerplate';
@use 'simple-grid' with ( $breakpoint: $breakpoint );
@use 'prism';


// webfonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Signika:wght@300;400;500;600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


// mixins
@mixin center() {
	left: 50%;
	transform: translateX(-50%);
}

@mixin section-colors($color: $alpha-dark-4) {
	background-color: $color;

	.arrow-down {
		border-top-color: $color;
	}
}

@mixin material-icon($icon: $icon-default, $color: $beige, $bg-color: $alpha-dark-1, $size: 2em) {
	font-family: 'Material Icons';
	content: $icon;
	display: inline-block;
	margin: 0.3em;
	color: $color;
	background-color: $bg-color;
	width: $size;
	height: $size;
	line-height: $size;
	vertical-align: -0.15em;
	text-align: center;
	border-radius: 50%;
}


/* site styles */
* {
	box-sizing: border-box;
}

body {
	background-color: $red;
	font-family: $font-family;
	line-height: $line-height;
	color: $light-beige;
}

h1 {
	margin: 0;
	color: $alpha-dark-5;
	font-family: $header-font-family;
	font-size: $header-size;
	line-height: $header-line-height;
	font-weight: $font-weight-semi-bold;
}

h2, h3, h4 {
	font-weight: $font-weight-bold;
}

p, li {
	color: $light-beige;
	font-size: $text-size;
	font-weight: $font-weight-regular;
}

ul {
	margin: 0;
	padding: 0 0 0 3em;
	list-style: none;
	text-indent: -1.5em;

	li {
		margin: 0;
		padding: 0.2em 0;
	}

	li::before {
		@include material-icon($icon-list, $color: $alpha-dark-4, $bg-color: transparent, $size: 1em);
		margin: 0;
		padding: 0;
	}
}

strong {
	font-weight: $font-weight-bold;
}

p strong {
	font-weight: $font-weight-semi-bold;
}

em {
	font-weight: $font-weight-light;
	font-style: italic;
	padding-left: 0.2em;
	font-size: 0.9em;
	color: $beige;
	white-space: nowrap;
}

a {
	font-weight: $font-weight-semi-bold;	
}

main a {
	color: $light-green;
	padding: 0.1em 0.2em;
	margin: 0 -0.2em;
	border-radius: 8px;
	white-space: nowrap;
}

main a:hover {
	color: $light-beige;
	background-color: $dark-purple;
	text-decoration: none;
}

main a.selected {
	color: $light-beige;
	background-color: $alpha-dark-2 !important;
	text-decoration: none;
}

main a.selected:hover {
	cursor: default;
}

main section {
	padding: 5em 0 6em;
	border-top: 0.5em solid $beige;
	position: relative;
}

main p {
	margin-bottom: 0;
}

.noscroll {
	overflow: hidden;
}

.name {
	white-space: nowrap;
}

.button {
	display: inline-block;
	background-color: $alpha-dark-4;
	margin: 1em 0 0;
	padding: 0 1.5em 0 0;
	font-size: 1.25em;
	line-height: 2.5;
	text-decoration: none;
	border-radius: 2em;
}

.button:hover {
	background-color: $alpha-light-2;
}

.button.email, .button.phone {
	display: block;
	margin: 0.6em 5%;
	color: $beige;
	background-color: $alpha-light-2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button.email span::before {
	@include material-icon($icon: $icon-email, $bg-color: $alpha-dark-2);
}

.button.phone span::before {
	@include material-icon($icon: $icon-phone, $bg-color: $alpha-dark-2);
}

.button.email:hover, .button.phone:hover {
	background-color: $dark-purple;

	span::before {
		background-color: $alpha-light-2;
	}
}

.button.download {
	margin: 2em 0 1em;
	color: $beige;
	background-color: $red;
	position: relative;
	
	@include center();

	span::before {
		@include material-icon($icon: $icon-file-download, $color: $light-beige, $bg-color: $alpha-dark-2);
	}
}

.button.download:hover {
	background-color: $dark-red;

	span::before {
		background-color: $alpha-dark-4;
	}
}

.caption {
	padding: 1em 0.5em 0.25em;
	font-size: 1.1em;
	font-style: italic;
	color: $alpha-light-1;
}

.arrow-down, .arrow-down-border {
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -40px;
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid $alpha-dark-4;
	z-index: 900;
}

.arrow-down-border {
	margin-left: -52px;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	border-top: 52px solid $beige;
	z-index: 899;
}

.file-preview {
	position: relative;
	margin: 2em 2em 0;
	display: block;
	background-color: $alpha-dark-1;
	border-radius: 32px;
	padding: 2.5em;

	img {
		width: 100%;
		box-shadow: $large-shadow;
		border-radius: 10px;
	}
}

.file-preview:hover {
	background-color: $beige;
}

.file-preview:hover::after {
	@include material-icon($icon-open-file);
	
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	margin-top: -1em;
	margin-left: -1em;
	color: $purple;
	background-color: $alpha-light-1;
	box-shadow: $large-shadow;
}

#section-counter {
	position: fixed;
	top: 2em;
	left: 2em;
	width: 5em;
	text-align: center;
	background-color: $alpha-dark-4;
	line-height: 2.5;
	padding: 0 1em;
	border-radius: 2.5em;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $alpha-dark-5;
	z-index: 997;

	.wrapper {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $alpha-dark-3;
		z-index: 998;

		.contents {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			max-width: 75em;
			padding: 3em 5em;
			background-color: $light-beige;
			z-index: 999;
			overflow: scroll;

			@include center();

			nav {
				margin: 1em -1em 0 -1em;
				background-color: $beige;
				border-radius: 32px 32px 0 0;
			}

			nav a {
				// display: inline-block;
				// font-size: 1.5em;
				// font-weight: $font-weight-semi-bold;
				// margin: 0;
				// padding: 0.25em 1em;
				// text-decoration: none;
			}

			nav a.selected {
				background-color: transparent !important;
			}

			section {
				display: none;
				padding: 1.5em 1em;
				margin: 0 -1em;	
				border-top: none;
				background-color: $beige;
				border-radius: 0 0 2em 2em;
			}

			section.selected {
				display: block;
			}

			h1 {
				color: $purple;
				margin-bottom: 0.75em;
			}

			p {
				font-size: 1.2em;
				font-style: italic;
				font-weight: $font-weight-semi-bold;
				color: $alpha-dark-5;
				margin: 1em 0.5em 0;
			}
			
			h1 + p {
				margin-top: 1em;
			}

			a {
				color: $purple;
				font-weight: $font-weight-bold;
				text-decoration: none;
			}

			p a:hover {
				color: $dark-purple;
				text-decoration: underline;
			}

			a.github::before {
				display: inline-block;
				content: url( '../img/github-mark-24.png' );
				line-height: 0;
				padding: 0;
				background-color: $light-beige;
				border-radius: 50%;
				margin-right: 0.5em;
				vertical-align: middle;
			}

			pre {
				height: 26em;
				overflow: scroll;
				border: 0.5em solid $light-beige;
				border-radius: 16px;
				margin-top: 1em;
				padding: 0.5em 1em;
			}

			.button.github {
				font-size: 1.1em;
				color: $beige !important;
				background-color: $purple;
			}

			.button.github:hover {
				color: $light-beige !important;
				background-color: $dark-purple;
			}

			.button.github span::before {
				@include material-icon($icon: $icon-repository, $bg-color: $alpha-dark-2);

				color: $beige;
			}

			.button.github:hover span::before {
				color: $light-beige;
				background-color: $alpha-light-2;
			}
		}
	}

	.close {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 1em;
		right: 1em;
		border-radius: 2em;
		z-index: 1000;
	}

	.close:hover {
		cursor: pointer;
		background-color: $purple;
	}

	.close::before {
		@include material-icon( $icon-close );
		margin: 0;
		background-color: $alpha-dark-5;
		font-size: 1.4em;
	}
}

#gallery {
	max-width: 100%;
	margin-top: 1em;
	background-color: $alpha-dark-2;
	border-radius: 24px;
	padding: 1em;
	box-shadow: $large-shadow;

	img {
		width: 100%;
		border: 6px solid $alpha-dark-4;
		border-radius: 16px;
	}

	.video-container {
		position: relative;
		overflow: hidden;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 aspect ratio */
		margin: 6px 6px 0;

		iframe, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: 100%;
			background-color: #000;
		}
	}
}

#intro {
	@include section-colors($purple);
	
	border-top: none;

	h1 {
		text-shadow: $text-shadow;
		font-size: $intro-header-size;
		color: $beige;
	}

	#pic img {
		display: block;
		width: 90%;
		margin: 2.5em auto 2em;
		border-radius: 50%;
		box-shadow: $large-shadow;
		border: 2px solid $beige;
	}

	#more-about-me {
		background-color: $green;
	}
}

#experience {
	@include section-colors($blue);

	h2 {
		color: $dark-purple;
		line-height: 2;
	}

	li {
		font-size: $text-size-smaller;
	}

	#software-frameworks::before {
		@include material-icon($icon-experience, $color: $beige, $bg-color: $purple);
		
		margin: 0 0.5em 0 0;
	}

	#skills::before {
		@include material-icon($icon-skills, $color: $beige, $bg-color: $purple);
		
		margin: 0 0.5em 0 0;
	}
}

#more-about-me {
	@include section-colors($green);

	.description {
		padding-bottom: 4em;
	}
}

#resume {
	@include section-colors($dark-beige);
	
	padding: 5em 0 4em;

	h1, h2 {
		text-align: center;
	}

	h2 {
		margin-top: 0.5em;
	}

	p {
		margin-top: 1.5em;
		color: $alpha-dark-5;
		font-size: $text-size-smaller;
		text-align: justify;

		.thank-you {
			color: $alpha-dark-5;
			font-weight: $font-weight-semi-bold;
		}
	}

	a:hover {
		color: $light-beige;
	}

	.arrow-down {
		border-top-color: $dark-beige;
	}
}

#colophon {
	@include section-colors($red);

	padding: 2em 0;

	h1 {
		margin: 0;
		padding-right: 0.5em;
		color: $alpha-dark-3;
		font-family: $font-family;
		font-weight: $font-weight-bold;
		font-size: 1.2em;
		line-height: 1.8;
		display: inline-block;
		float: left;
	}

	a:hover {
		background-color: $dark-red;
	}

	#tech-stack {
		margin: 0 0 0 7.5em;
		padding: 0;
		text-indent: 0;

		li {
			margin: 0 0.6em 0.5em 0;
			padding: 0 1.2em 0 0;
			float: left;
			font-size: 0.9em;
			background-color: $alpha-light-2;
			line-height: 1.6;
			border-radius: 1.6em;
			white-space: nowrap;

			a {
				color: $beige;
				font-weight: $font-weight-semi-bold;
				text-decoration: none;
			}

			a:hover{
				background-color: transparent;
			}
		}

		li::before {
			@include material-icon($icon-tool);
			
			margin-right: 0.4em;
		}
	}
}


/* responsive styles */
@media only screen and (min-width: $breakpoint) {
	
}


/* print styles */
@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}