// variables
// sizing
$main-breakpoint: 1025px;

// colors
$purple:         #5B3D67;
$dark-purple:    #442D4D;

$grey-blue:      #3b4856;

$blue:           #1A849D;
$dark-blue:      #5774AC; //#2E5084?

$green:          #00895E;
$dark-green:     #007171;

$light-lavender: #b1a7b6;
$lavender:       #A4B2C2;
$med-lavender:   #6D697D;
$dark-lavender:  #5C6978;

$light-beige:    #ddd7bc;
$beige:          #CCC6AD;
$dark-beige:     #A6A18D;

$link-color:     #67D594;

// font styles
$font-family: 'Montserrat', Helvetica, sans-serif;
$text-size: 1.5em;
$res-text-size: 1.2em;
$text-size-smaller: 1.4em;
$res-text-size-smaller: 1.2em;
$line-height: 1.5;

$header-font-family: 'Signika', Helvetica, sans-serif;
$header-size: 3em;
$res-header-size: 2em;
$intro-header-size: 4em;
$header-line-height: 1.25;

$font-weight-light:     200;
$font-weight-regular:   300;
$font-weight-semi-bold: 500;
$font-weight-bold:      600;

// shadows
$text-shadow:      0px 2px 8px rgba( black, 0.3 );
$text-shadow-3d:   0px 1px 0px rgba( white, 0.2 ), 0px -1px 0px rgba( black, 0.7 );

$box-shadow:       0 6px 18px rgba( black, 0.2 );
$box-shadow-light: 0 6px 18px rgba( black, 0.1 );

// material icons
$icon-default:       "\e835"; //check_box_outline_blank
$icon-email:         "\e0be"; //email
$icon-phone:         "\e325"; //phone_iphone
$icon-experience:    "\f100"; //home_repair_service
$icon-skills:        "\f1c3"; //wysiwyg
$icon-open-file:     "\e89e"; //open_in_new
$icon-file-download: "\e2c4"; //file_download
$icon-tool:          "\e3ae"; //brush
$icon-list:          "\ef76"; //beenhere
$icon-close:         "\e5cd"; //close
$icon-repository:    "\e0ee"; //list_alt
$icon-ingredient:    "\f1df"; //east
$icon-form:          "\e150"; //create
$icon-send:          "\e163"; //send
$icon-error:         "\e001"; //error
$icon-favorite:      "\e87d"; //favorite


// modules
@use 'html5boilerplate';
@use 'simple-grid' with ( $breakpoint: $main-breakpoint );
@use 'prism';
@use 'loading' with ( $timing: 1.6s );
@use 'animation' with ( $cube-color: $dark-purple, $background-color: rgba( white, 0.2 ), $border-color: $light-lavender );


// webfonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Signika:wght@300;400;500;600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


// mixins
@mixin center() {
	left: 50%;
	transform: translateX(-50%);
}

@mixin section-colors($color: rgba( black, 0.4 )) {
	background-color: $color;

	.arrow-down {
		border-top-color: $color;
	}
}

@mixin material-icon($icon: $icon-default, $color: $beige, $bg-color: rgba( black, 0.1 ), $size: 2em) {
	font-family: 'Material Icons';
	content: $icon;
	display: inline-block;
	margin: 0.3em 0.4em 0.3em 0.3em;
	color: $color;
	background-color: $bg-color;
	width: $size;
	height: $size;
	line-height: $size;
	vertical-align: -0.15em;
	text-align: center;
	border-radius: 50%;
}


// base styles
* {
	box-sizing: border-box;
}

body {
	background-color: $dark-purple;
	font-family: $font-family;
	line-height: $line-height;
	color: $light-beige;
}

h1 {
	margin: 0;
	color: rgba( black, 0.5 );
	font-family: $header-font-family;
	font-size: $header-size;
	line-height: $header-line-height;
	font-weight: $font-weight-semi-bold;
	text-shadow: $text-shadow-3d;
}

h2, h3, h4 {
	font-weight: $font-weight-bold;
}

p, li {
	color: $light-beige;
	font-size: $text-size;
	font-weight: $font-weight-regular;
}

ul {
	margin: 0;
	padding: 0 0 0 3em;
	list-style: none;
	text-indent: -1.5em;

	li {
		margin: 0;
		padding: 0.2em 0;
	}

	li::before {
		@include material-icon($icon-list, $color: rgba( black, 0.5 ), $bg-color: transparent, $size: 1em);
		margin: 0;
		padding: 0;
	}
}

strong {
	font-weight: $font-weight-bold;
}

p strong {
	font-weight: $font-weight-semi-bold;
}

em {
	font-weight: $font-weight-light;
	font-style: italic;
	padding-left: 0.2em;
	font-size: 0.9em;
	color: $beige;
	white-space: nowrap;
}

a {
	font-weight: $font-weight-semi-bold;
	color: $link-color;
	padding: 0.1em 0.2em;
	margin: 0 -0.2em;
	border-radius: 0.25em;
	white-space: nowrap;
}

a:hover {
	color: $light-beige;
	background-color: $dark-purple;
	text-decoration: none;
}

a.selected {
	color: $light-beige;
	background-color: rgba( black, 0.2 ) !important;
	text-decoration: none;
}

a.selected:hover {
	cursor: default;
}

main section {
	padding: 5em 0 6em;
	border-top: 0.5em solid $light-beige;
	position: relative;
}

main p {
	margin-bottom: 0;
}

preload {
	position: absolute;
	height: 0;
	line-height: 0;

	* {
		height: 0;
		line-height: 0;
	}
}

form {
	position: relative;
	display: grid;
	grid-template-columns: 8em 1fr;
	grid-gap: 1em;
	border-radius: 2em;
	margin: 1.5em -2%;
	width: 104%;
	background: rgba( white, 0.3 );
	background-image: linear-gradient( 160deg, rgba( $grey-blue, 0.4 ), rgba( $purple, 0.2 ) );
	padding: 2em 3.5em 2em 1.5em;
	overflow: hidden;

	p {
		grid-column: 2;
		font-size: 1.4em;
		font-style: italic;
		background-color: #900;
		border-radius: 2em;
		padding: 0 1em 0 0;
		margin: 0 0 0.5em !important;
		display: none;
	}

	p::before {
		@include material-icon( $icon: $icon-error, $bg-color: transparent, $size: 1.4em );

		margin: 0;
		font-size: 1.5em;
		font-style: normal;
		vertical-align: -0.3em;
	}

	label {
		grid-column: 1;
		font-size: 1.4em;
		line-height: 2.1;
		font-weight: $font-weight-bold;
		text-align: right;
		text-shadow: $text-shadow-3d;
	}

	.missing {
		// color: #900;
		border-color: #900 !important;
	}

	label::after {
		content: ' :';
		color: $dark-beige;
		display: inline-block;
		margin-left: 0.125em;
	}

	label.nocol::after {
		content: '';
	}

	input[type='text'], textarea {
		grid-column: 2;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-size: 1.2em;
		line-height: 2;
		background-color: #2d2d2d;
		border: 0.1875em solid rgba( white, 0.5 );
		padding: 0 0.5em;
		color: $light-beige;
		border-radius: 12px;
		width: 100%;
		outline: none;
		box-shadow: $box-shadow inset;
	}

	textarea {
		line-height: 1.2;
		padding: 0.5em 0.5em;
		height: 9.5em;
		resize: none;
	}

	input[type='text']:focus, textarea:focus {
		border-color: $light-beige;
	}

	button {
		display: block;
		color: $beige;
		background-color: rgba( $dark-purple, 0.7 );
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: $font-family;
		font-weight: $font-weight-semi-bold;
		padding: 0;
		font-size: 1.25em;
		line-height: 1;
		border-radius: 2em;
		border: none;
		box-shadow: $box-shadow;
		text-align: left;
		width: 11.5em;
	}

	button:hover {
		background-color: $dark-green;
		border-color: rgba( black, 0.1 );
		cursor: pointer;
		box-shadow: $box-shadow;

		span::before {
			background-color: rgba( white, 0.1 );
		}
	}

	button:active {
		background-color: $dark-green;
		border-color: rgba( white, 0.2 );
		cursor: pointer;

		span::before {
			background-color: rgba( white, 0.1 );
		}
	}

	button span::before {
		@include material-icon($icon: $icon-send, $bg-color: rgba( black, 0.2 ));
	}
}

// utility styles
.nobr {
	white-space: nowrap;
}

.noscroll {
	overflow: hidden;
}

.name {
	white-space: nowrap;
}

.button {
	display: inline-block;
	background-color: rgba( black, 0.4 );
	margin: 1em 0 0;
	padding: 0 1.5em 0 0;
	font-size: 1.25em;
	line-height: 2.5;
	text-decoration: none;
	border-radius: 2em;
}

.button:hover {
	background-color: rgba( white, 0.05 );
}

.button.email, .button.phone, .button.form {
	display: block;
	margin: 0.6em 5%;
	color: $beige;
	background-color: rgba( white, 0.05 );
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button.email span::before {
	@include material-icon($icon: $icon-email, $bg-color: rgba( black, 0.2 ));
}

.button.phone span::before {
	@include material-icon($icon: $icon-phone, $bg-color: rgba( black, 0.2 ));
}

.button.form span::before {
	@include material-icon($icon: $icon-form, $bg-color: rgba( black, 0.2 ));
}


.button.email:hover, .button.phone:hover, .button.form:hover {
	background: $dark-green;

	span::before {
		background-color: rgba( white, 0.1 );
	}
}

.button.download {
	margin: 2em 0 1em;
	color: $light-beige;
	background-color: $purple;
	position: relative;
	box-shadow: $box-shadow;
	
	@include center();

	span::before {
		@include material-icon($icon: $icon-file-download, $color: $light-beige, $bg-color: rgba( black, 0.2 ));
	}
}

.button.download:hover {
	color: $light-beige !important;
	background-color: $dark-green;

	span::before {
		background-color: rgba( white, 0.1 );
	}
}

.caption {
	padding: 1em 0.5em 0.25em;
	font-size: 1.1em;
	font-style: italic;
	color: rgba( white, 0.7 );
}

.video-container .caption {
	margin-bottom: 0.75em;
}

.arrow-down, .arrow-down-border {
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -40px;
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid rgba( black, 0.4 );
	z-index: 900;
}

.arrow-down-border {
	margin-left: -52px;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	border-top: 52px solid $light-beige;
	z-index: 899;
}

.file-preview {
	position: relative;
	margin: 2em 2em 0;
	display: block;
	background-color: rgba( black, 0.1 );
	border-radius: 2em;
	padding: 2.5em;

	img {
		width: 100%;
		box-shadow: $box-shadow;
		border-radius: 1em;
	}
}

.file-preview:hover {
	background-color: rgba( black, 0.2 );
	box-shadow: $box-shadow inset;
}

.file-preview:hover::after {
	@include material-icon($icon-open-file);
	
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	margin-top: -1em;
	margin-left: -1em;
	color: $purple;
	background-color: rgba( white, 0.7 );
	box-shadow: $box-shadow;
}

.mobile {
	display: none !important;
}

#section-counter {
	position: fixed;
	top: 2em;
	left: 2em;
	width: 5em;
	text-align: center;
	background-color: rgba( black, 0.4 );
	line-height: 2.5;
	padding: 0 1em;
	border-radius: 2.5em;
}

// overlays, etc.
#overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba( black, 0.8 );
	z-index: 950;

	.cp_embed_wrapper {
		margin: 1em 0;
		border: 0.5em solid $light-lavender;
		border-radius: 1.25em;

		iframe {
			border-radius: 0.75em;
		}
	}

	.wrapper {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba( black, 0.3 );
		z-index: 960;

		.contents {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			max-width: 75em;
			padding: 3em 5em;
			background-image: linear-gradient(160deg, $grey-blue, $purple);
			z-index: 970;
			overflow: scroll;

			@include center();

			nav {
				margin: 1em -1em 0 -1em;
				padding-left: 1.5em;
				background-color: rgba( white, 0.2 );
				border-radius: 2em 2em 0 0;
			}

			nav a {
				margin: 1em 0 0 0;
				padding: 0 0.7em;
				display: inline-block;
				font-size: 1.5em;
				font-weight: $font-weight-bold;
				text-decoration: none;
				border-radius: 1.5em;
			}

			nav a:hover {
				color: rgba( white, 0.05 );
			}

			nav a.selected {
				background-color: rgba( white, 0.2 );
				cursor: default;
				box-shadow: $box-shadow;
			}

			nav a.selected:hover {
				color: $purple;
			}

			section {
				display: none;
				padding: 1px 1em 1.5em;
				margin: 0 -1em;	
				border-top: none;
				background-color: rgba( white, 0.2 );
				border-radius: 0 0 2em 2em;
			}

			section.selected {
				display: block;
			}

			h1 {
				margin: 0;
				color: $beige;
				text-shadow: $text-shadow;
			}

			p {
				margin: 0.5em 0 0;
				color: $beige;
			}

			section p {
				font-family: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
				font-size: 1.1em;
				font-weight: $font-weight-semi-bold;
				margin: 1em 0.5em 0;
			}

			nav a {
				color: $beige;
				font-weight: $font-weight-bold;
			}

			nav a.selected {
				background-color: $purple !important;	
			}

			nav a.selected:hover {
				color: $beige;
				background-color: $purple !important;
			}

			nav a:hover {
				color: $beige;
				background-color: rgba( black, 0.2 ) !important;
			}

			a.github {
				background-color: rgba( black, 0.3 );
				display: inline-block;
				margin-left: -0.1em;
				padding: 0.25em 1em 0.25em 0.25em;
				border-radius: 1em;
				box-shadow: $box-shadow;
				color: $beige;
				text-decoration: none;
			}

			a.github:hover {
				text-decoration: none;
				background-color: $purple;
				color: $beige;
			}

			a.github::before {
				display: inline-block;
				content: url( '../img/github-mark-24.png' );
				line-height: 0;
				padding: 2px;
				background-color: $light-beige;
				border-radius: 50%;
				margin-right: 0.5em;
				vertical-align: -0.35em;
			}

			a.github:hover::before {
				background-color: $light-beige;
			}

			strong {
				font-weight: $font-weight-bold;
			}

			pre {
				height: 25.2em;
				overflow: scroll;
				border: 0.5em solid $light-lavender;
				border-radius: 1.25em;
				margin: 1em 0 1.25em;
				padding: 0.5em 1em;
				box-shadow: $box-shadow;
			}
		}
	}

	.close {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 1em;
		right: 1em;
		border-radius: 2em;
		z-index: 1000;
	}

	.close::after {
		content: '[esc]';
		color: $lavender;
		position: absolute;
		top: 105%;
		@include center;
	}
	.close::before {
		@include material-icon( $icon-close );
		margin: 0;
		background-color: rgba( white, 0.1 );
		font-size: 1.4em;
	}

	.close:hover {
		cursor: pointer;
		background-color: $dark-purple;
	}

	.close:hover::before {
		color: $link-color;
	}

}

#overlay[class*="contact"] .wrapper .contents, #overlay[class*="thank-you"] .wrapper .contents {
	max-width: $main-breakpoint;
}

#overlay[class*="clients"] .wrapper .contents {
	p, h1 {
		text-align: center;
		color: $beige;
	}

	h1 {
		text-shadow: $text-shadow;
	}

	em {
		color: $light-lavender;
		white-space: normal;
	}
}

#overlay[class*="chai"] .wrapper .contents {
	background-image: linear-gradient(160deg, $dark-beige, $beige);
	max-width: 64em;

	h1 {
		text-shadow: $text-shadow-3d;
	}

	* {
		color: rgba( black, 0.5 );
	}

	#ingredients, #directions {
		background: rgba( white, 0.2 );
		padding: 1em 2em 2em;
		border: 5px solid rgba( black, 0.2 );
		border-radius: 1.75em;
		margin: 2em 0;
		box-shadow: $box-shadow-light;
		overflow: hidden;

		h2 {
			margin: -1rem -2rem 1em;
			padding: 1rem 2rem 1rem;
			background-color: rgba( black, 0.2 );
			color: rgba( black, 0.2 );
			text-shadow: 0px 1px 0px rgba( white, 0.2 ), 0px -1px 0px rgba( black, 0.7 );
		}

		img {
			display: block;
			width: 350px;
			margin: 5.5em 0 1em 2em;
			float: right;
			border: 5px solid rgba( black, 0.2 );
			border-radius: 1.5em;
		}

		// @media only screen and (max-width: $main-breakpoint) {

		// 	img {
		// 		width: 250px;
		// 	}
	
		// }

		// @media only screen and (min-width: 600) {

		// 	img {
		// 		display: none;
		// 	}
	
		// }

		ul {
			padding-left: 2.2em;
		}

		ol li {
			margin-bottom: 0.3em;
		}

		ul li::before {
			@include material-icon($icon-ingredient, $color: rgba( black, 0.5 ), $bg-color: transparent, $size: 1em);
			margin: 0;
			padding: 0;
		}

		em {
			white-space: normal;
		}
	}
}

#portfolio {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 2em;
	border-radius: 2em;
	margin: 1em -5.5em 0 -1em;
	padding: 0;
	width: 104%;
	background-color: rgba( white, 0.2 );
	padding: 1.5em 3.5em 1.5em 1.5em;
	overflow: hidden;

	.item {
		padding: 0;
		position: relative;
		height: 280px;
		background-size: cover;
		border: 0.5em solid rgba( white, 0.4 );
		overflow: hidden;
		border-radius: 1.25em;
		background-position: top center;

		img {
			display: block;
			width: 100%;
		}

		.caption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba( $dark-purple, 0.9 );
			height: 3.5em;
			padding-left: 1em;
			z-index: 901;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-style: normal;
		}
	}

	.item:hover {
		box-shadow: $box-shadow;
		border: 0.5em solid rgba( white, 0.7 );
	}

	.item::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba( black, 0.2 );
		z-index: 900;
	}

	.item:hover::after {
		background-color: transparent;
	}

	.details {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $med-lavender;
		background-image: linear-gradient( 160deg, rgba( $grey-blue, 0.4 ), rgba( $purple, 0.2 ) );
		transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
		z-index: 1000;
		border: 0.5em solid rgba( white, 0.4 );
		border-radius: 2em;
		padding: 1.25em 1.5em;
		overflow-x: hidden;
  		overflow-y: scroll;

		h1, p {
			text-align: left;
		}

		h2 {
			margin: -1em -1em 1em !important;
			padding: 0.75em 1em 0.5em;
			// border-bottom: 0.2em solid $lavender;
			background-color: $dark-purple;
			text-shadow: 0px 1px 0px rgba( black, 0.7 ), 0px -1px 0px rgba( white, 0.1 );
		}

		p.sub {
			font-size: 1.3em;
			font-style: italic;
			margin-top: 1em;
		}

		img {
			float: right;
			width: 55%;
			margin: 0.25em 0 2em 2em;
			box-shadow: $box-shadow;
		}

		.close-details {
			position: absolute;
			top: 0.6em;
			right: 1.25em;
		}
	}

	#knitxmidwest {
		top: 100%;
		left: 0;
	}

	#blood-of-the-young {
		top: 100%;
		left: 0;
	}

	#art-services {
		top: 100%;
		left: 0;
	}

	#pin-pushers {
		top: 100%;
		left: 0;
	}
}

#gallery-outer {
	position: relative;
}

#gallery {
	max-width: 100%;
	margin-top: 1em;
	background: rgba( black, 0.2 );
	border-radius: 1.5em;
	padding: 1em;
	box-shadow: $box-shadow;
	overflow: hidden;

	img {
		width: 100%;
		border: 6px solid rgba( black, 0.2 );
		border-radius: 1em;
	}

	.video-container {
		background-color: rgba( black, 0.2 );
		position: relative;
		overflow: hidden;
		height: 0;
		padding: 1% 1% 55.25%; /* 16:9 aspect ratio */
		border-radius: 1em;
		overflow: hidden;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: 100%;
			border-radius: 1em !important;
			overflow: hidden;
		}
	}
}

// main sections
#intro {
	@include section-colors($purple);

	min-height: 92vh;

	background-image: linear-gradient(160deg, $grey-blue, #3c475e, #424564, #4d4267, $purple 70%);
	
	border-top: none;

	h1 {
		text-shadow: $text-shadow;
		font-size: $intro-header-size;
		color: $beige;
	}

	#pic img {
		display: block;
		width: 90%;
		margin: 2.5em auto 2em;
		border-radius: 50%;
		box-shadow: $box-shadow;
		border: 2px solid $beige;
	}
}

#experience {
	@include section-colors($blue);

	background-image: linear-gradient(160deg, $dark-blue, $blue 70%);

	h2 {
		color: rgba( black, 0.3 );
		line-height: 2;
		text-shadow: $text-shadow-3d;
	}

	li {
		font-size: $text-size-smaller;
	}

	#software-frameworks::before {
		@include material-icon($icon-experience, $color: $beige, $bg-color: rgba( black, 0.3 ));
		
		margin: 0 0.5em 0 0;
	}

	#skills::before {
		@include material-icon($icon-skills, $color: $beige, $bg-color: rgba( black, 0.3 ));
		
		margin: 0 0.5em 0 0;
	}
}

#more-about-me {
	@include section-colors($green);

	background-image: linear-gradient(160deg, $dark-green, $green 70%);

	.description {
		padding-bottom: 4em;
	}
}

#resume {
	@include section-colors($lavender);

	background-image: linear-gradient(160deg, $dark-lavender, $lavender 70%);
	
	padding: 5em 0 4em;

	h1, h2 {
		text-align: center;
	}

	h1 {
		text-shadow: $text-shadow-3d;	
	}

	h2 {
		color: $dark-purple;
		margin-top: 0.5em;
	}

	p {
		margin-top: 1.5em;
		color: rgba( black, 0.5 );
		font-size: $text-size-smaller;
		text-align: justify;

		.thank-you {
			color: rgba( black, 0.5 );
			font-weight: $font-weight-semi-bold;
		}
	}

	a:hover {
		color: $light-beige;
	}

	.arrow-down {
		border-top-color: $light-lavender;
	}
}

#colophon {
	@include section-colors($purple);

	padding: 0;

	p {
		text-align: center;
		font-size: 0.8em;
		color: rgba( white, 0.3 );
		margin: 1em 0;

		span::before {
			@include material-icon( $icon-favorite, $color: rgba( white, 0.2 ), $bg-color: transparent, $size: 1em);
		}
	}

	p.tools {
		margin-bottom: 0.5em;
		font-size: 1em;
		font-weight: $font-weight-semi-bold;
	}

	#tech-stack {
		margin: 0;
		padding: 0;
		text-indent: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		li {
			margin: 0 0.6em 0.5em 0;
			padding: 0 1.2em 0 0;
			font-size: 0.9em;
			background-color: rgba( white, 0.05 );
			line-height: 1.6;
			border-radius: 1.6em;
			white-space: nowrap;

			a {
				color: $beige;
				font-weight: $font-weight-semi-bold;
				text-decoration: none;
			}

			a:hover{
				background-color: transparent;
			}
		}

		li::before {
			@include material-icon($icon-tool);
			
			margin-right: 0.4em;
		}
	}
}


// responsive styles
@media only screen and (max-width: 1440px) {

	#section-counter {
		display: none;
	}

	#intro {
		padding-top: 3em;
	}

	#pic img {
		margin-top: 20px !important;
	}

}

@media only screen and (max-width: $main-breakpoint) {

	p, li, h2 {
		font-size: $res-text-size !important;
	}

	h1 {
		font-size: $res-header-size !important;
	}

	h2 {
		margin-left: -0.25em;
	}

	h2::before {
		font-size: 0.9em;
	}

	.arrow-down, .arrow-down-border {
		display: none;
	}

	.close::after {
		display: none;
	}

	.full {
		display: none !important;
	}

	.mobile {
		display: block !important;
	}

	.contents {
		padding: 2em !important;

		section {
			margin: 0 -1em !important;
		}
	}

	section {
		padding: 2em 1.5em 4em !important;
		border-width: 0.2em !important;
	}

	#intro {
		min-height: auto;
		margin-top: 5em;
	}

	#intro .row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#pic {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		padding: 1em 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $dark-purple;
		z-index: 100;

		img {
			width: 3em !important;
			margin: 0 2.5em 0 0 !important;
			border-color: rgba( $light-beige, 0.8 ) !important;
		}

		a {
			font-size: 1em !important;
			margin: 0 1em 0 0 !important;
			padding: 0 1.25em 0 0 !important;
			float: left;

			span {
				display: none;
			}
		}

		a.button.form::before {
			@include material-icon($icon: $icon-form, $bg-color: rgba( black, 0.2 ));
		}

		a.button.email::before {
			@include material-icon($icon: $icon-email, $bg-color: rgba( black, 0.2 ));
		}

		a.button.phone::before {
			@include material-icon($icon: $icon-phone, $bg-color: rgba( black, 0.2 ));
		}

		a.button.form::after {
			content: 'Contact Form';
		}

		a.button.email::after {
			content: 'Email';
		}

		a.button.phone::after {
			content: 'Phone';
		}

	}

	#gallery-outer {
		display: none !important;
	}

	#portfolio {
		.item {
			height: 200px;
		}

		.details {
			h2 {
				margin: -1em -1.52em 1em !important;
			}
		}
	}

	#more-about-me {
		a[target='gallery'] {
			color: $light-beige;
			font-weight: $font-weight-regular;
			text-decoration: none !important;
			background: none !important;
			cursor: default;
		}
	}

	#ingredients img, #directions img {
		width: 250px !important;
	}

	#experience ul {
		margin: 0;
		padding: 0 0 0 1.85em;
		list-style: none;
		text-indent: -1.1em;
		columns: 2;

		li {
			margin: 0;
			padding: 0.2em 2em 0.2em 0;
			font-size: 1.1em !important;
		}
	}

	#resume {
		p {
			text-align: left;
		}

		.file-preview {
			width: 33%;
			margin: 0 auto;
		}

		h2 {
			margin-top: 1em;
		}
	}

	#colophon {
		font-size: 0.75em;
		padding: 0 !important;

		h1 {
			display: none;
		}

		#tech-stack li {
			font-size: 1em !important;
		}
	}

}

@media only screen and (max-width: 900px) {

	.description {
		padding-bottom: 0 !important;
	}

	#resume {
		.file-preview {
			width: 50%;
			margin: 0 auto;
		}
	}

}

@media only screen and (max-width: 600px) {

	body {
		background: $dark-purple url('../img/me.jpg') center -200px no-repeat fixed;
		background-size: 100%;
	}

	form {
		display: block;
		padding: 1em 1.5em 2em;
		border-radius: 1.5em;

		.error span {
			display: none;
		}

		.error::after {
			content: 'Required fields'
		}

		button {
			margin: 1em auto 0;
		}

		.nocol {
			display: none;
		}
	}

	pre {
		border: none !important;
		border-radius: 1em !important;
		font-size: 0.9em !important;
	}

	.github {
		span {
			display: none;
		}
	}

	.github::after {
		content: 'View on GitHub';
	}

	a[href="#css-example"] {
		display: none !important;
	}

	#overlay section {
		padding: 1em !important;
		border-radius: 0 0 1.5em 1.5em !important;

		p {
			margin: 0 0 1em !important;
		}
	}
	
	#portfolio {
		grid-template-columns: repeat(1, 100%);
		margin: 1em -2%;
		padding: 1.5em;
		width: 104%;
		border-radius: 1.5em;

		.details {
			border-radius: 1.5em;

			img {
				float: none;
				width: 100%;
				margin: 0 0 1em;
			}

			h2 {
				margin: -1em -1.25em 1em !important;
			}

			.close-details {
				position: initial;
				top: 0.6em;
				right: 1.25em;
			}
		}
	}

	#code-nav {
		padding-left: 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		border-radius: 1.5em 1.5em 0 0 !important;
	}

	#code-nav a {
		font-size: 1.4em !important;
	}

	#overlay .wrapper .contents nav a:hover {
		background-color: transparent !important;
	}

	#experience ul {
		columns: 1;
	}

	#pic a.button {
		padding-right: 0 !important;
	}

	#pic a.button::before {
		margin: 0.3em !important;
		vertical-align: middle !important;
	}

	#pic a.button::after {
		display: none !important;
	}

	#resume {

		.file-preview {
			padding: 1.5em;
		}

	}

	#ingredients img, #directions img {
		display: none !important;
	}

	.button.download {
		span {
			display: none;
		}
	}

	.button.download::before {
		@include material-icon($icon: $icon-file-download, $color: $light-beige, $bg-color: rgba( black, 0.2 ));
	}

	.button.download::after {
		content: 'Download';
	}

	#overlay[class*="chai"] .wrapper .contents {
		h2 {
			padding-left: 1em !important;
		}

		ul, ol {
			padding-left: 1.4em !important;
		}
	}

}


// print styles
@media print {
	html {
		font-size: 0.6em;
	}

	section {
		padding: 3em 5em 1em !important;
		margin: 1em 0 !important;
		min-height: 0 !important;
		border: none !important;
	}

	#resume {
		padding: 0 !important;
		margin: 0 !important;
	}

	#pic, #gallery, .arrow-down, .arrow-down-border, #section-counter, #resume h1, #resume h2, #resume p, #colophon, .button {
		display: none !important;
	}

	h1 {
		margin: 0 !important;
	}

	h2 {
		font-size: 2.4em;
		margin: 0.5em 0 !important;
	}

	#software-frameworks {
		margin: 0.25em 0 0.5em !important;
	}

	#skills {
		margin-top: 2em !important;
	}

	#software-frameworks::before, #skills::before {
		display: none !important;
	}

	ul.software li {
		width: 50%;
		float: left;
	}

	ul.expertise {
		margin-right: 4em !important;
		text-indent: -1.2em;
	}

	.file-preview {
		margin: 0;
		border-radius: 0;
		padding: 0;

		img {
			width: 100%;
			border-radius: 0;
		}
	}

	.col-6 {
		page-break-inside: avoid;
	}

	*,
	*::before,
	*::after {
		background: white !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: none;
		font-weight: inherit;
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}